*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: "white";
    --input-color: "white";
    --font-color: "black";
    --hoover-color: "black";
}

html{
    overflow: hidden;
    font-size: 10px;
    background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out;
}

@font-face {
    font-family: Migowy;
    src: url(Migowy.ttf);
}

.info-window-on{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
}

.info-window-off{
    display: none;
}

.blur{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
}

.window{
    height: 60%;
    width: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--font-color);
    border-radius: 10px;
    z-index: 1;
}

.content-1{
    padding: 0.5rem;
    height: fit-content;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: var(--font-color);
    cursor: default;
}

.content-2{
    margin-top: 3rem;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    color: var(--font-color);
    cursor: default;
}

.content-3{
    padding: 1rem;
    height: fit-content;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    color: var(--font-color);
    cursor: default;
}


.window-info-btn{
    margin-top: 6vh;
    width: 20%;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--font-color);
    background-color: var(--background-color);
    border: 0.2rem solid grey;
    cursor: pointer;
}

.window-info-btn:hover{
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--hoover-color);
}

nav{
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    border-bottom: 0.1rem solid black;
}

.nav-info-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    color: var(--font-color); 
    border: 0.2rem solid grey;
    background-color: var(--background-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav-info-btn:hover{
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--hoover-color);
}

.title{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.title-pl{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color);
}

.title p{
    font-size: 5rem;  
    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color);
}


.title-pjm{
    margin-top: 10px;
    font-size: 4.5rem;
    font-family: Migowy;
    color: var(--font-color); 
}

.display-mode{
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;
    top: 0;
    align-items: center;
    height: 10vh;
    width: 12vh;
}

.light-mode-off, .dark-mode-off{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 4rem;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
}

.light-mode-off:hover{
    color: orange;
}

.dark-mode-off:hover{
    color: rgb(45, 77, 255);
}

.light-mode-on{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 4rem;
    cursor: pointer;
    color: orange;
    transition: color 0.3s ease-in-out;
}

.dark-mode-on{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 4rem;
    cursor: pointer;
    color: rgb(45, 77, 255);
    transition: color 0.3s ease-in-out;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45vw;
    padding: 1rem;
    width: 47.5vw;
}

.pl-input{
    font-size: 3rem;
    height: 51%;
    width: 86%;
    min-height: 50%;
    min-width: 85%;
    max-height: 85%;
    max-width: 99%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 0.2rem solid grey;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--input-color);
    transition: background-color 0.3s ease-in-out;
}


.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 47.5vw;
    padding: 1rem;
}

.pjm-input{
    font-size: 5rem;
    height: 51%;
    width: 86%;
    min-height: 50%;
    min-width: 85%;
    max-height: 85%;
    max-width: 99%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-family: Migowy;
    border: 0.2rem solid grey;
    color: var(--font-color);
    background-color: var(--input-color);
    transition: background-color 0.3s ease-in-out;
}

.left_slide, .right_slide{
    width: 40%;
}

.center-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5vw; 
}

.button-pl-to-pjm, .button-pjm-to-pl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    font-size: 3rem;
    line-height: 1.5rem;
    border-radius: 5px;
    border: 0.2rem solid grey;
    background-color: var(--background-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button-pl-to-pjm:hover, .button-pjm-to-pl:hover{
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--hoover-color);
}


.leftarrow, .rightarrow{
    color: var(--font-color);
}


.symetria{
    height: 1.6rem;
}

.lernmode-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.check-box{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}

.check-name{
    font-size: 2rem;
    color: var(--font-color);
}


@media only screen and (max-width:1000px){

    .title-pl, .title-pjm, .title p{
        font-size: 3rem;
    }

    .light-mode-off, .light-mode-on, .dark-mode-off, .dark-mode-on{
        font-size: 3rem;
    }

    main{
        flex-direction: column;
    }

    .left-section, .right-section{
        height: 47.5vh;
        width: 90vw;
    }

    .pl-input, .pjm-input{
        min-height: 75%;
        min-width: 90%;
        resize: none;
    }

    .center-section{
        height: 5vh;
    }

    .check-name{
        font-size: 1rem;
    }

    .lernmode-section{
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }

    .button-pl-to-pjm, .button-pjm-to-pl{
        width: 5rem;
        height: 4rem;
        font-size: 2rem;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    .nav-info-btn{
        margin-left: 1rem;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .display-mode{
        width: 12vw;
        margin-right: 1rem; 
    }

    .window{
        height: fit-content;
        width: fit-content;
        max-width: 80%;
        max-height: 90%;
    }
    .content-1, .content-2, .content-3{
        font-size: 1.5rem;
    }

    .window-info-btn{
        width: fit-content;
    }
}

@media only screen and (max-height:700px){

    .content-1, .content-2, .content-3{
        font-size: 1.5rem;
    }

    .window{
        height: fit-content;
        width: fit-content;
        max-width: 80%;
        max-height: 90%;
    }
}
